/* src/style.css */

/* CRITICAL FOR STICKY FOOTER */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh; /* Ensures #root takes at least 100% of viewport height */
  display: flex;       /* Make #root a flex container */
  flex-direction: column; /* Stack its children vertically */
}

/* Any other custom global styles */

  .scrollbar-visible {
    scrollbar-width: auto; /* Firefox */
  }

  .scrollbar-visible::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: #a0aec0; /* Tailwind gray-400 */
    border-radius: 4px;
  }

  .scrollbar-visible::-webkit-scrollbar-track {
    background: #edf2f7; /* Tailwind gray-100 */
  }